{% extends "base.html" %}
{% block content %}
<section id="account-type-selector" class="py-14">
  <h1 class="text-3xl account-type">
    Account Type
  </h1>
  <p class="prose my-8">Please select whether you want to sign up as a tech user or a recruiter.</p>
  <div class="flex flex-col w-full lg:flex-row">
    <div class="w-full lg:w-1/2">
      <a class="btn btn-primary text-white w-full" href="{% url 'custom_account:tech_user_signup' %}">Sign up as
        a
        Tech user using email</a>
      {% if socialaccount_providers %}
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="signup" additional_text="Sign up with" %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="divider lg:divider-horizontal">OR</div>
    <div class="w-full lg:w-1/2 flex items-center">
      <a href="{% url 'custom_account:recruiter_user_signup' %}" class="btn btn-primary text-white w-full">Sign up
        as a recruiter using email</a>
    </div>
  </div>
</section>

{% endblock content %}