{% extends "base.html" %}
{% block content %}
<h1 class="text-3xl  account-type">
  Account Type
</h1>

<p class="prose my-8">Please select whether you want to sign up as a developer or a recruiter.</p>
<div class="flex flex-col w-full lg:flex-row">
  <a href="{% url 'tech_user_signup' %}"
    class="grid flex-grow h-32 lg:h-96 card bg-primary text-xl text-white rounded-box place-items-center">Developer</a>
  <div class="divider lg:divider-horizontal">OR</div>
  <a href="{% url 'recruiter_user_signup' %}"
    class="grid flex-grow h-32 lg:h-96 card bg-primary text-xl text-white rounded-box place-items-center">Recruiter</a>
</div>
{% endblock content %}