{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<section id="login-page" class="py-12 lg-py-14 flex place-center container">
  <div class="form-container max-w-lg mx-auto">

    <h1 class="text-3xl mb-5">{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    <p class="prose">{% blocktrans %}If you have not created an account yet, then please
      <a class="link link-hover text-primary" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


    <form class="login pt-5" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      {% if field.name != "remember" %}
      <div class="mb-4">
        {{ field|add_label_class:"block text-sm font-medium text-gray-700 mb-1" }}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="flex items-center max-w-xs mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          {{ error }}
        </span>
        {% endfor %}
        {% else %}
        {% render_field field class="input input-bordered input-secondary w-full" %}
        {% endif %}

      </div>
      {% else %}
      <div class="form-control w-full my-3 flex-row justify-between lg:justify-start">
        <div class="w-50 me-5">
          <label for="{{ field.id_for_label }}"
            class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
          <span class="text-xs text-secondary italic mb-1 help-text">{{ field.help_text }}</span>
        </div>
        {% render_field field class="toggle toggle-secondary mt-3 lg:mt-0 checked:bg-primary" %}

        {% for error in field.errors %}
        <span class="flex items-center max-w-xs mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
          {{ error }}
        </span>
        {% endfor %}

      </div>

      {% endif %}
      {% endfor %}

      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <span class="flex items-center max-w-xs mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
        {{ error }}
      </span>
      {% endfor %}
      {% endif %}


      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction btn btn-primary block w-full mx-auto lg:mx-0 lg:ml-auto"
        type="submit">{% trans "Sign In" %}
        &raquo;</button>
    </form>
    {% if socialaccount_providers %}
    <div class="divider my-8">OR</div>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" additional_text="Sign in with" %}
      </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </div>
</section>
{% endblock content %}