{% extends "base.html" %} {% block content %}
{% load widget_tweaks %}
{% load static %}
<section class="py-12 lg:py-14 container" id="create-job-post">
  <h1 class="text-2xl lg:text-3xl mt-8">Create a job post</h1>
  <div class="form-container py-8">
    <form action="{% url 'job_post:create_job_post' slug=request.user.slug %}" method="post"
      class="flex flex-col w-full create-job-post-form" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      {% if field.name == "active" %}
      <div class="form-control w-full my-3 flex-row justify-between lg:justify-start">
        <div class="w-50 me-5">
          <label for="{{ field.id_for_label }}"
            class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
          <span class="text-xs text-secondary italic mb-1 help-text">{{ field.help_text }}</span>
        </div>
        {% render_field field class="toggle toggle-secondary mt-3 lg:mt-0 checked:bg-primary" %}
        {% if field.errors %}
        <span class="error-span text-error text-sm mt-2">{{ field.errors }}</span>
        {% endif %}
      </div>
      {% elif field.field.widget.input_type == "file" %}
      <div class="form-control w-full my-3">
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
          {{ field.label }}
        </label>
        {% render_field field class="file-input file-input-bordered file-input-primary w-full mt-3" %}
        <span class="error-span text-error text-sm mt-2 hidden"></span>
        {% if field.errors %}
        <span class="error-span text-error text-sm mt-2">{{ field.errors }}</span>
        {% endif %}
      </div>
      {% comment %} Check if type is textarea {% endcomment %}
      {% elif field.name == "description"%}
      <label for="{{ field.id_for_label }}" class="label pl-0 text-sm">
        {{ field.label }}
      </label>
      {% render_field field class="textarea textarea-bordered textarea-secondary w-full" %}
      {% if field.help_text %}
      <p class="text-sm text-grey-dark">{{ field.help_text }}</p>
      {% endif %}
      {% for error in field.errors %}
      <p class="text-red-500 text-sm mt-2">{{ error }}</p>
      {% endfor %}
      {% elif field.name == "work_location_type" %}
      <div class="w-full my-5">
        <div class="w-50 me-5">
          <label for="{{ form.work_location_type.id_for_label }}"
            class="block text-sm text-gray-700 mb-3">{{ form.work_location_type.label }}</label>
          <span class="text-xs text-secondary italic mb-1 help-text">{{ form.work_location_type.help_text }}</span>
        </div>
        <ul class="flex w-full lg:w-1/4 justify-between">
          {% for choice in form.work_location_type %}
          <li>
            <label for="{{ choice.id_for_label }}" class="flex items-center cursor-pointer text-sm text-gray-700">
              <input type="radio" name="work_location_type" id="{{ choice.id_for_label }}" value="{{ forloop.counter }}"
                class="radio radio-xs radio-secondary checked:radio-primary" {% if forloop.first%}checked{% endif %}>
              <span class="ml-2">{{ choice.choice_label }}</span>
            </label>
          </li>
          {% endfor %}
        </ul>
        {% if form.work_location_type.errors %}
        <span class="error-span block text-error text-sm mt-3">{{ form.work_location_type.errors }}</span>
        {% endif %}
      </div>
      {% elif field.name == "technologies" %}

      <div class="w-full flex flex-col items-center mx-auto my-5">
        <input type="hidden" name="selectedTechnologies" id="selectedTechnologies">
        <label for="{{ field.id_for_label }}" class="block w-full text-sm font-medium text-gray-700">
          Desired technologies
        </label>
        <div class="w-full">
          <div class="flex flex-col items-center relative">
            <div class="w-full">
              <div class="my-2 py-1 flex">
                <div class="flex flex-auto flex-wrap added-tech-container"></div>
              </div>
              <div class="relative">
                <div class="flex-1">
                  <input type="text" name="tech_input"
                    placeholder="The technology the candidate should know for the role"
                    class="input input-bordered input-secondary w-full tech-input">
                </div>
                <div
                  class="absolute hidden shadow top-14 bg-white z-40 w-full lef-0 rounded max-h-select overflow-y-auto tech-dropdown">
                  <ul class="flex flex-col w-full border-1 border-secondary bordered tech-list">
                    {% for tech in all_technologies %}
                    <li
                      class="cursor-pointer w-full border-gray-100 rounded-b hover:bg-primary hover:text-white tech-list__item"
                      data-techid="{{ tech.id }}">
                      <button type="button"
                        class="flex w-full items-center p-3 border-transparent border-l-2 relative focus:bg-primary focus:text-white">
                        <span class="mx-2 leading-6">{{tech.tech_name}}</span>
                      </button>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for error in field.errors %}
      <p class="text-red-500 text-sm mt-2">{{ error }}</p>
      {% endfor %}

      {% else %}
      <label for="{{ field.id_for_label }}" class="label pl-0 text-sm">
        {{ field.label }}
      </label>
      {% render_field field class="input input-bordered input-secondary w-full" %}
      {% if field.help_text %}
      <p class="text-sm text-grey-dark">{{ field.help_text }}</p>
      {% endif %}
      {% for error in field.errors %}
      <p class="text-red-500 text-sm mt-2">{{ error }}</p>
      {% endfor %}
      {% endif %}

      {% endfor %}
      <button disabled aria-disabled="true"
        class="primaryAction btn btn-primary block mx-auto lg:mx-0 lg:ml-auto mt-8 cursor-not-allowed opacity-50"
        type="submit">Create
        job post</button>
    </form>
  </div>
</section>
<script src="{% static 'js/techSelector.js' %}"></script>
{% endblock content %}