{% extends "base.html" %}
{% block content %}
<section class="py-12 lg:py-14 container" id="edit-profile">
  <h1 class="text-3xl mb-5">Account settings</h1>
  <form class="signup" id="signup_form" method="post" action="{% url 'custom_account:user_settings' user.slug %}">
    {% csrf_token %}
    <div class="signup-details-page flex-shrink-0 w-full">
      {% comment %} First name {% endcomment %}
      <div class="form-control w-full">
        <label for="{{ form.first_name.id_for_label }}" class="label pl-0 text-sm">{{ form.first_name.label }}</label>
        {{ form.first_name }}

        <span class="error-span text-error text-sm mt-2">{{ form.first_name.errors }}</span>
      </div>

      {% comment %} Last name {% endcomment %}
      <div class="form-control w-full">
        <label for="{{ form.last_name.id_for_label }}" class="label pl-0 text-sm">{{ form.last_name.label }}</label>
        {{ form.last_name }}

        <span class="error-span text-error text-sm mt-2">{{ form.last_name.errors }}</span>
      </div>

      {% comment %} Email {% endcomment %}
      <div class="form-control w-full">
        <label for="{{ form.email.id_for_label }}" class="label pl-0 text-sm">{{ form.email.label }}</label>
        {{ form.email }}

        <span class="error-span text-error text-sm mt-2">{{ form.email.errors }}</span>
      </div>

      {% comment %} Display email toggle {% endcomment %}
      <div class="form-control w-full my-3 flex-row justify-between lg:justify-start">
        <div class="w-50 me-5">
          <label for="{{ form.display_email.id_for_label }}"
            class="block text-sm font-medium text-gray-700">{{ form.display_email.label }}</label>
          <span class="text-xs text-secondary italic mb-1 help-text">{{ form.display_email.help_text }}</span>
        </div>
        {{ form.display_email }}
        {% if form.display_email.errors %}
        <span class="error-span text-error text-sm mt-2">{{ form.display_email.errors }}</span>
        {% endif %}
      </div>


      {% comment %} Username {% endcomment %}
      <div class="form-control w-full">
        <label for="{{ form.username.id_for_label }}" class="label pl-0 text-sm">{{ form.username.label }}</label>
        <span class="text-xs text-secondary italic mb-1 help-text">{{ form.username.help_text }}</span>
        {{ form.username }}

        <span class="error-span text-error text-sm mt-2">{{ form.username.errors }}</span>
      </div>

      <hr class="mx-auto w-1/3 lg:w-full lg:w-full my-8">

      <button class="btn block next-button ml-auto" aria-disabled="true" type="submit">Save
        &raquo;</button>
    </div>
  </form>
</section>
{% endblock %}