html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Hind";
  src: url("/static/fonts/Hind-Regular.ttf") format("ttf"),
    url("/static/fonts/Hind-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "MartelSans";
  src: url("/static/fonts/MartelSans-Regular.ttf") format("ttf"),
    url("/static/fonts/MartelSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "MavenPro";
  src: url("/static/fonts/MavenPro-Regular.ttf") format("ttf"),
    url("/static/fonts/MavenPro-Bold.ttf") format("ttf");
}

/* Handles toast disappearing with Tailwind */
.toast.opacity-0 {
  opacity: 0;
  transition: opacity 0.3s;
}
