{% load static %}
{% load humanize %}
{% load helper_tags %}

{% if post.active or post.user == user %}
<div
  class="sd-card w-full relative {% if not full %}lg:w-[calc(32%-2px)]{% endif %} shadow-xl transition-transform hover:-translate-y-1">
  {% if not post.active %}<div class="tooltip absolute bottom-5 right-5 z-30"
    data-tip="Inactive {{ type }}s will not show up for other users."><span
      class="badge badge-error text-white py-3 px-5">Inactive</span> </div>{% endif %}
  {% if type == "job post" %}
  <div class="badge badge-primary text-white p-3 absolute top-5 right-5 opacity-100 z-30">
    {{ post.work_location_type.all.first }}
  </div>
  {% endif %}
  <a class="{% if not post.active %}opacity-25{% endif %}" href="{{ post.get_absolute_url }}"
    aria-label="Navigates to the {{ post.name }} {{ type }}.">
    {% if post.image.url %}
    <figure>
      <img src="{{ post.image.url | replace:"http|https" }}"
        class="w-full {% if not full %}h-48 {% else %} h-64{% endif %} object-cover"
        alt="Screenshot of the {{ post.name }} {{ type }}">
    </figure>
    {% elif type == "project" and not post.image.url %}
    <figure>
      <img src="{% static 'images/placeholder-banner.webp'%}"
        class="w-full {% if not full %}h-48 {% else %} h-64{% endif %} object-cover" alt="">
    </figure>
    {% endif %}
    <div
      class="sd-card-body flex flex-col px-5 pt-5 pb-1 {% if type == "job post" %}min-h-[18rem]{% else %}min-h-[16rem]{% endif %} bg-aliceblue">
      <div class="flex justify-between">
        <h2 class="sd-card-title font-bold text-lg lg:text-xl"><strong><span
              class="link link-hover">{{ post.name }}</span></strong>
        </h2>
      </div>
      <p class="prose my-3 text-sm lg:text-base break-words">
        {{ post.description|truncatechars:150 }}{% if post.description|length >= 175 %} <span
          class="link link-hover text-primary text-sm lg:text-base">read more ></span>
        {% endif %}
      </p>
      {% if post.technologies.all|length > 0 %}
      <div class="techs-used mt-auto mb-2">
        <h3 class="text-sm lg:text-base">
          <strong>
            {% if type == "job post" %}Required tech knowledge{% else %}Tech used on this {{ type }}{% endif %}
          </strong>
        </h3>

        <ul class="flex flex-wrap justify-start list-none">
          {% for tech in post.technologies.all|slice:":10" %}
          {% include 'snippets/tech-badge.html' with tech=tech small=True grow="lg:grow-0" %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if type == "job post" %}
      <div
        class="job-post-details  {% if type == "job post" and not post.technologies.all|length > 0 %}mt-auto{% else %}mt-3{% endif %} flex justify-between mb-2">
        {% if post.company %}
        <div>
          <h3 class="text-sm lg:text-base">
            <strong>Company</strong></h3>
          <p class="prose text-sm lg:text-base">
            {{ post.company }}</p>
        </div>
        {% endif %}
        {% if post.location %}
        <div class="mt-5 lg:mt-0">
          <h3 class="text-sm lg:text-base">Location
          </h3>
          <p class="prose text-sm lg:text-base">
            {{ post.location }}</p>
        </div>
        {% endif %}
        {% if post.salary_from and post.salary_to %}
        <div class="mt-5 lg:mt-0">
          <h3 class="text-sm lg:text-base">Salary</h3>
          <p class="prose text-sm lg:text-base">
            {{ post.salary_from|intcomma }} - {{ post.salary_to|intcomma }}
            {% if post.salary_currency %}({{ post.salary_currency }}){% endif %}</p>
        </div>
        {% elif post.salary_from %}
        <div class="mt-5 lg:mt-0">
          <h3 class="text-sm lg:text-base">Salary</h3>
          <p class="prose text-sm lg:text-base">From
            {{ post.salary_from|intcomma }}
            {% if post.salary_currency %}({{ post.salary_currency }}){% endif %}</p>
        </div>
        {% elif post.salary_to %}
        <div class="mt-5 lg:mt-0">
          <h3 class="text-sm lg:text-base">Salary</h3>
          <p class="prose text-sm lg:text-base">Up to
            {{ post.salary_to|intcomma }}
            {% if post.salary_currency %}({{ post.salary_currency }}){% endif %}</p>
        </div>
        {% endif %}
      </div>

      {% endif %}
    </div>
  </a>
  {% if show_owner_info %}
  <div class="bottom-card-bar px-5 py-5 flex">
    {% if post.user.profile_image.url %}
    <div class="avatar">
      <div class="w-8 rounded-full mr-4">
        <img src="{{ post.user.profile_image.url | replace:"http|https" }}"
          alt="{{ post.user.get_full_name }}'s profile avatar">
      </div>
    </div>
    {% endif %}
    <div class="recruiter-details">
      <h4><a href="{% url 'custom_account:user_profile' slug=post.user.slug %}"
          aria-label="Navigates to {{ post.user.get_full_name }}'s profile."
          class="link link-hover text-primary">{{ post.user.get_full_name }}</a></h4>
      <p class="prose text-xs lg:text-sm">{{ post.user.work_title }}</p>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}