{% load static %}

<a href="{% url 'custom_account:user_profile' post.slug %}"
  class="sd-card w-full {% if not full %}lg:w-[calc(32%-2px)]{% endif %} min-h-[16rem] shadow-xl transition-transform hover:-translate-y-1 p-3">
  <div class="flex h-full">
    <div class="left-column flex flex-col w-1/3">
      {% if post.profile_image %}
      <div class="avatar w-24 h-24 rounded-full">
        <img src="{{ post.profile_image.url }}" alt="{{ post.get_full_name }}'s {{ type }} image">
      </div>
      {% else %}
      <div class="text-xl flex h-24 w-24 justify-center bg-secondary text-white items-center">
        {{ post.first_name|slice:":1" }}{{ post.last_name|slice:":1" }}
      </div>
      {% endif %}
      {% if post.company %}
      <h3 class="text-sm mt-3 text-left">Company</h3>
      <p class="prose text-sm">{{ post.company }}</p>
      {% endif %}
    </div>
    <div class="right-column flex flex-col ml-3">
      <h2 class="text-primary text-xl">{{ post.get_full_name }}</h2>
      {% if post.work_title %}
      <p class="prose">{{ post.work_title }}</p>
      {% endif %}
      {% if post.tech_profile and post.tech_profile.technologies.all|length > 0 %}
      <div class="tech-container mt-auto">
        <h3 class="text-sm">Tech {{ post.first_name }} knows</h3>
        <ul class="flex flex-wrap justify-start list-none">
          {% for tech in post.tech_profile.technologies.all|slice:":10" %}
          {% include 'snippets/tech-badge.html' with tech=tech small=True grow="lg:grow-0" %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</a>