{% comment %} Should be used within a <ul> element {% endcomment %}
  <li class="user-tech__item mt-2 {{ grow }} group">
    {% if not tech.is_approved %}
    <div
      class="tooltip flex justify-center items-center mr-1 py-2 px-5 rounded-md bg-white border-secondary text-secondary bordered border-2"
      data-tip="{{tech.tech_name}} is pending admin approval...">
      <div class="text-sm font-normal flex-initial added-tech">
        <strong>{{ tech.tech_name }}</strong>
      </div>
    </div>
    {% else %}
    <div
      class="flex justify-center items-center mr-1 py-2 px-5 rounded-md bg-aliceblue border-primary text-primary bordered border-2">
      <div class="text-sm font-normal flex-initial added-tech">
        <strong>{{ tech.tech_name }}</strong>
      </div>
    </div>
    {% endif %}
  </li>