{% extends "base.html" %} {% block content %}
<h1 class="text-2xl">About us</h1>

<div class="about-us-container max-w-lg mt-5">
  <p class="prose">Stackporfol.io was created out of a dev's need to showcase their portfolio easily, while making it
    visible
    to those looking to hire them.</p>

  <p class="prose mt-2">By adding the technologies used on projects, dev's can show that they have proven experience
    with the
    tech stack that the company is looking for. Only when a technology is added to a project will it then be added to
    the dev's profile, which allows recruiters to trust they have the skills required for the job.</p>
</div>
{% endblock %}