{% load static %}

<!DOCTYPE html>
<html data-theme="stackportfolio-default-theme" lang="en">


{% comment %} Head {% endcomment %}

<head>
    {% comment %} Meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Meta description {% endcomment %}
    <meta name="description"
        content="Stackportfol.io gives developers a platform to showcase their projects and the skills associated with those projects.">
    {% comment %} Meta keywords {% endcomment %}
    <meta name="keywords" content="developer, portfolio, projects, skills, tech, showcase, job, job board, job search">

    {% comment %} Favicon {% endcomment %}
    <link rel="shortcut icon" href="{% static 'images/stackportfolio-icon.svg' %}" type="image/x-icon">

    {% comment %} Preconnect to Fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">

    {% comment %} Stylesheets {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Stackportfol.io</title>
</head>

{% comment %} Body {% endcomment %}

<body class="flex flex-col min-h-screen">
    {% comment %} Toast messages {% endcomment %}
    {% if messages %}
    {% for message in messages %}
    <div class="toast fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 z-50 w-1/4 h-auto" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="alert {{ message.tags }} px-4 py-2 rounded shadow">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% comment %} Header {% endcomment %}
    <header>
        <div class="navbar bg-base-100 container mx-auto justify-between">
            <div class="navbar-start">
                <a class="text-lg font-bold text-primary" href="{% url 'homepage' %}">Stackportfol.io</a>
            </div>
            <nav class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a class="link link-hover" href="{% url 'view_all_projects' %}">See projects</a></li>
                    <li><a class="link link-hover" href="{% url 'view_all_job_posts' %}">See job posts</a></li>
                </ul>
            </nav>
            <div>

                {% comment %} Search {% endcomment %}
                <a class="lg:hidden" href="{% url 'search_and_filter:search_results' %}"
                    aria-label="Navigates to the search page">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </a>

                {% comment %} Mobile Navigation {% endcomment %}
                <div class="dropdown z-50">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </label>
                    <div tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 right-0">
                        {% if user.is_authenticated %}
                        <ul>
                            <li class="my-3">
                                <a href="{% url 'custom_account:user_profile' slug=user.slug %}"
                                    aria-label="Navigates to your profile page">My
                                    profile</a>
                            </li>
                        </ul>
                        <span class="divider my-2"></span>
                        <ul>
                            <li class="my-3">
                                <a href="{% url 'custom_account:user_settings' slug=user.slug %}"
                                    class="edit-settings-link" aria-label="Edit settings">Edit account details</a>
                            </li>
                            <li class="my-3">
                                <a href="{% url 'custom_account:profile_edit' slug=user.slug %}"
                                    class="edit-profile-link" aria-label="Edit profile">Edit profile</a>
                            </li>
                        </ul>
                        <span class="divider my-2"></span>
                        {% endif %}
                        <ul>
                            <li class="my-3"><a class="link link-hover" href="{% url 'view_all_projects' %}">See
                                    projects</a></li>
                            <li class="my-3"><a class="link link-hover" href="{% url 'view_all_job_posts' %}">See job
                                    posts</a></li>
                        </ul>
                        <span class="divider my-2"></span>
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="my-3">
                                <a href=" {% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="my-3">
                                <a href="{% url 'custom_account:account_type' %}">Sign up</a>
                            </li>
                            <li class="my-3">
                                <a href="{% url 'account_login' %}">Sign in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-end menu menu-horizontal px-1 hidden lg:flex">
                {% if user.is_authenticated %}
                <div class="flex-none">
                    <ul class="menu menu-horizontal px-1">
                        <li>
                            <a class="hidden lg:block" href="{% url 'search_and_filter:search_results' %}"
                                aria-label="Navigates to the search page">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    Account
                                </summary>
                                <ul class="p-2 bg-base-100 z-50 lg:w-[180px] right-0">
                                    <li class="my-3">
                                        <a href="{% url 'custom_account:user_profile' slug=user.slug %}"
                                            aria-label="Navigates to your profile page">My profile</a>
                                        <span class="divider px-1 my-2"></span>
                                    </li>
                                    <li class="my-3">
                                        <a href="{% url 'custom_account:user_settings' slug=user.slug %}"
                                            class="edit-settings-link" aria-label="Edit settings">
                                            Edit account details
                                        </a>
                                    </li>
                                    <li class="my-3">
                                        <a href="{% url 'custom_account:profile_edit' slug=user.slug %}"
                                            class="edit-profile-link" aria-label="Edit profile">Edit profile</a>
                                        <span class="divider px-1 my-2"></span>
                                    </li>
                                    <li class="my-3">
                                        <a href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>
                {% else %}
                <ul class="flex">
                    <li>
                        <a class="hidden lg:block" href="{% url 'search_and_filter:search_results' %}"
                            aria-label="Navigates to the search page">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'custom_account:account_type' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">Sign in</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </header>

    {% comment %} Main content {% endcomment %}
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    {% comment %} Footer {% endcomment %}
    <footer class="mt-auto">
        {% if page_obj %}
        <div class="pagination mb-8">
            <div class="join w-full justify-center">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if current_query %}&q={{ current_query|urlencode }}{% endif %}{% if search_type %}&type={{ search_type }}{% endif %}"
                    class="join-item btn">&laquo; First</a>
                {% endif %}

                {% for page_num in page_obj.paginator.page_range %}
                <a href="?page={{ page_num }}{% if current_query %}&q={{ current_query|urlencode }}{% endif %}{% if search_type %}&type={{ search_type }}{% endif %}"
                    class="join-item btn {% if page_num == page_obj.number %}btn-active{% endif %}">{{ page_num }}</a>
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}{% if current_query %}&q={{ current_query|urlencode }}{% endif %}{% if search_type %}&type={{ search_type }}{% endif %}"
                    class="join-item btn">Last &raquo;</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="footer-menus md:p-10 bg-secondary text-base-100 ">
            <div class="container mx-auto footer py-8">
                <div>
                    <h3 class="footer-title">Company</h3>
                    <a href="{% url 'about' %}" class="link link-hover">About us</a>
                    <a href="{% url 'careers' %}" class="link link-hover">Work with us</a>
                </div>
            </div>
        </div>

    </footer>
    <script type="module" src="{% static 'js/script.js' %}"></script>
</body>

</html>