{% load static %}

<!DOCTYPE html>
<html data-theme="stackportfolio-default-theme">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Stackportfol.io</title>
</head>

<body class="flex flex-col min-h-screen">
    {% if messages %}
    {% for message in messages %}
    <div class="toast fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 z-50" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="bg-green-500 text-white font-semibold px-4 py-2 rounded shadow">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <header>
        <!-- Navigation -->
        <div class="navbar bg-base-100 container mx-auto justify-between">
            <div class="navbar-start">
                <a class="text-lg font-bold text-primary" href="{% url 'homepage' %}">Stackportfol.io</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a>See projects</a></li>
                    <li><a>See job posts</a></li>
                </ul>
            </div>
            <div class="dropdown z-50">
                <label tabindex="0" class="btn btn-ghost md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </label>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 right-0">
                    <li><a>See projects</a></li>
                    <li><a>See job posts</a></li>
                    <hr class="my-2">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}tech">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-end menu menu-horizontal px-1 hidden md:flex">
                {% if user.is_authenticated %}
                <div class="flex-none">
                    <ul class="menu menu-horizontal px-1">
                        <li>
                            <details>
                                <summary>
                                    Account
                                </summary>
                                <ul class="p-2 bg-base-100">
                                    <li>
                                        <a href="{% url 'user_profile' slug=user.slug %}"
                                            aria-label="Navigates to your profile page">My profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'profile_edit' slug=user.slug %}" class="edit-profile-link"
                                            aria-label="Edit profile">Edit profile</a>
                                    </li>
                                    <hr class="my-2">
                                    <li>
                                        <a href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </details>
                        </li>

                    </ul>
                </div>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}tech">Register</a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>


    <main class="py-8">
        <div class="container mx-auto">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>
    </main>

    <!-- Footer -->
    <footer class=" md:p-10 bg-secondary text-base-100 mt-auto">
        <div class="container mx-auto footer my-8">
            <div>
                <header class="footer-title">Company</header>
                <a class="link link-hover">About us</a>
                <a class="link link-hover">Careers</a>
            </div>
            <div>
                <header class="footer-title">Offerings</header>
                <a class="link link-hover">Developer Portfolio</a>
                <a class="link link-hover">Job board</a>
            </div>
            <div>
                <header class="footer-title">Support</header>
                <a class="link link-hover">Contact</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>