{% extends "base.html" %} {% block content %}
{% comment %} Careers page content {% endcomment %}
<section class="py-12 lg:py-14 container" id="careers-page">
  <h1 class="text-2xl">Work with us</h1>
  <div class="page-container careers-container max-w-lg mt-5">
    <p class="prose">We don't currently have any open role. However, if you're interesteding in joining our team, you
      can send us an email at <a href="mailto:contact@stackportfol.io"
        class="link link-hover link-primary inline">contact@stackportfol.io</a></p>
  </div>
</section>
{% endblock %}